# put in /etc/systemd/system
# stop with systemctl stop carla.service
# start with systemctl start carla.service

[Unit]
Description=Carla auto restart Service

[Service]
User=$USER
Environment="DISPLAY=:11"
ExecStart=/home/$USER/Carla_basic/CarlaUE4.sh
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
